    services:
      postgres:
        image: postgres:18-alpine
        environment:
        - POSTGRES_USER=${POSTGRES_USER}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        - POSTGRES_DB=${POSTGRES_DB}
        volumes:
        - pgdata:/var/lib/postgresql/data
      migration:
        image: ghcr.io/kukymbr/goose-docker:3.26.0
        environment:
          - GOOSE_DRIVER=postgres
          - GOOSE_DBSTRING=host=postgres port=5432 user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_DB}
        volumes:
          - ./db/migration:/migrations
        depends_on:
          - postgres
      api:
        build:
          context: .
          dockerfile: Dockerfile
        ports:
          - "8080:8080"
        env_file:
          - .env
        environment:
          - DB_SOURCE=${DB_SOURCE}
        depends_on:
          - postgres
          - migration
        entrypoint: ["/app/wait-for.sh", "postgres:5432", "--", "/app/start.sh"]
        command: ["/app/main"]
    volumes:
      pgdata: